@model List<Rate>

<div>


    @foreach (var rate in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@rate.Id</h5>
                <p class="card-text">@rate.Description</p>
                <a asp-action="Details"asp-route-id="@rate.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }

</div>
